#hdrcerto {
  height: 90px;
  background: rgb(53, 52, 52);
}

a {
  color: #fff;
  font-weight: bold;
}

#news a {
  color: black;
  font-weight: normal;
}

a:hover {
  color: rgb(94, 143, 218);
  text-decoration: none;
}

#news a:hover {
  color: rgb(94, 143, 218);
  text-decoration: none;
}

/* Header */
header,
.navbar {
  background: rgb(53, 52, 52);
}
.navbar ul li a {
  color: white;
}

.navbar a {
  color: white;
  text-decoration: solid;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: bold;
}

.navbar .active {
  color: rgb(94, 143, 218);
}

/* Nosso site */
#nosso-site {
  max-width: 100%;
  text-align: left;
  height: 500px;
  background: url("https://ik.imagekit.io/hchmam5le6h/1111_jm3b0SmrZ.jpg?updatedAt=1629483144330");
  background-size: cover;
}

.texto .um {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
}

.texto .um::after {
  content: "";
  width: 205px;
  height: 6px;
  display: block;
  background: white;
  border: 2px solid black;
}

.texto {
  padding: 50px 30px 50px 30px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
  max-width: 1200px;
}

/* Pilotos */
.titulo {
  text-align: center;
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
  height: 90px;
  margin-bottom: 20px;
}

#pilotos .titulo {
  margin-top: 40px;
}

.titulo::after {
  content: "";
  width: 250px;
  height: 4px;
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid black;
}

#pilotos {
  background: url("..img/home1.jpg");
}

#pilotos p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

#pilotos h5 {
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 35px;
}

.card {
  margin: 30px 30px 0px 30px;
}

#botao1 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
}

#btn1 {
  border-radius: 50px;
  font-size: 20px;
  background: black;
  font-weight: bold;
  color: rgb(94, 143, 218);
}

#btn1:hover {
  background: transparent;
}

/* News */
#news {
  height: 800px;
  margin-bottom: 100px;
}
#news h4 {
  padding-top: 40px;
  color: black;
  font-size: 70px;
}

#news h4::after {
  content: "";
  width: 200px;
  height: 4px;
  display: block;
  margin: 0 auto;
  background: black;
}

#news h5 {
  padding-top: 40px;
  color: black;
  font-size: 50px;
}

#news h6 {
  color: black;
  font-size: 30px;
  font-weight: normal;
  max-width: 1000px;
  margin: 0 auto;
}

.descricao {
  font-size: 24px;
  text-align: center;
  font-family: "Bebas Neue";
  padding-bottom: 20px;
}

.titulonews {
  font-size: 60px;
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: bold;
  padding-bottom: 20px;
}

/* footer */
#footer {
  background: rgb(54, 53, 53);
  height: 120px;
  color: #fff;
}

#footer .parte1 {
  padding: 30px 0px 0px 0px;
}

#footer p {
  position: relative;
  left: 6px;
}

#footer img {
  display: inline;
  margin-right: 20px;
  height: 60px;
}

#footer .tfooter {
  padding: 15px 0px 15px 0px;
  text-align: center;
}

#footer .menuf {
  text-align: center;
  word-spacing: 11.7px;
}

#footer .iconsf {
  height: 40px;
  text-align: center;
  font-size: 40px;
  word-spacing: 10px;
  position: relative;
  bottom: 20px;
}

#copy {
  color: #fff;
  background: rgb(53, 52, 52);
}

#copytext {
  text-align: center;
  padding-top: 15px;
}

#copy::before {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  margin: 0 auto;
  background: white;
}

/* Regras */

#bgregras {
  width: 100%;
  height: 200px;
  margin-top: 85px;
  background: url("../img/regrasbg.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 50px;
}

.subtitulo {
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 40px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  color: black;
}

.subtitulo::after {
  content: "";
  width: 200px;
  height: 4px;
  display: block;
  margin: 0 auto;
  background: black;
}

.txt {
  font-size: 24px;
  text-align: center;
  font-family: "Bebas Neue";
  padding-bottom: 10px;
}

.regrasbox {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px auto 20px auto;
}

.regrasbox a {
  transition: 0.5s;
}

.regrasbox a {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}

.regrasbox a::after {
  content: "";
  width: 200px;
  height: 1px;
  display: block;
  margin: 0 auto;
  background: black;
}

.regrasbox h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.regrasbox:hover > a {
  color: rgb(94, 143, 218);
}

#licenca {
  margin-top: 90px;
}

.imgrg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.strg {
  padding-top: 0;
}

.rgbar::before {
  content: "";
  width: 1200px;
  height: 15px;
  display: block;
  margin: 20px auto;
  background: rgb(53, 52, 52);
  border-radius: 20px;
}

#vdregras {
  margin-bottom: 50px;
}

/*aimações*/

.anistartleft,
.anistartright,
.anistartblow {
  opacity: 0;
}

.anileft {
  overflow: hidden;
  position: relative;
  animation: anileft 2s ease forwards;
}

@keyframes anileft {
  from {
    opacity: 0;
    transform: translateX(-101%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.aniright {
  overflow: hidden;
  position: relative;
  animation: aniright 2s ease forwards;
}

@keyframes aniright {
  from {
    opacity: 0;
    transform: translateX(101%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.aniup {
  overflow: hidden;
  position: relative;
  animation: aniup 1s ease forwards;
}

@keyframes aniup {
  from {
    opacity: 0;
    transform: translateY(-101%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.aniblow {
  opacity: 0;
  overflow: hidden;
  position: relative;
  animation-delay: 10s;
  animation: aniblow 2s forwards;
}

#regras-inicio .aniblow {
  opacity: 0;
  overflow: hidden;
  position: relative;
  animation-delay: 10s;
  animation: 1s aniblow 1s forwards;
}

@keyframes aniblow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*newsletter*/

#bgnews {
  width: 100%;
  height: 200px;
  margin-top: 85px;
  background: url("../img/newsbg.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 50px;
}

#news-inicio .aniblow {
  opacity: 0;
  overflow: hidden;
  position: relative;
  animation-delay: 10s;
  animation: 1s aniblow 1s forwards;
}

#form-area {
  height: 500px;
  width: 100%;
  padding: 50px;
  margin: 0px auto 20px auto;
}

#email-area {
  border-radius: 20px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  width: 40%;
  height: 40px;
}

#message-area {
  border-radius: 20px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  width: 40%;
  height: 100px;
}

.form-control {
  border: 2px solid black;
}

.btn-dark {
  background: rgb(54, 53, 53);
  border: 2px solid rgb(54, 53, 53);
  width: 15%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.redesbox {
  display: inline-block;
  height: 100px;
  margin: 10px auto 20px auto;
  padding: 0 20px 0 20px;
}

.rbdx {
  height: 100px;
  text-align: center;
}

.redesbox a {
  transition: 0.5s;
}

.redesbox a {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}

.redesbox h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.redesbox:hover > a {
  color: rgb(94, 143, 218);
}

/* Historia */

#introtxt {
  margin-top: 85px;
}

#ttl {
  max-width: 100%;
  padding-top: 60px;
  text-align: center;
  background: url("../img/fundohist.jpg");
}

#ttl p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: white;
}

#ttl p::after {
  content: "";
  width: 150px;
  height: 4px;
  display: block;
  margin: 0 auto;
  background: white;
}

#coluna1 {
  padding-left: 200px;
  padding-top: 50px;
}

#imgcriacao {
  height: 370px;
  width: 450px;
  border-radius: 200px;
  padding-bottom: 40px;
}

#alinhar {
  margin: 0;
  display: inline;
}

#txtcriacao {
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  text-align: justify;
}

#segesquerda::after {
  content: "";
  width: 900px;
  height: 4px;
  display: block;
  margin: 0 auto;
  background: rgb(75, 75, 75);
}


.titulo p {
  color: black;
}

.titulo p::after {
  content: "";
  width: 130px;
  height: 4px;
  display: block;
  margin: 0 auto;
  background: black;

}

#txt50 {
  padding-left: 90px;
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  text-align: justify;
}

#coluna2 {
  padding-left: 50px;
  padding-top: 80px;
}

#imgcriacao2 {
  height: 370px;
  width: 450px;
  border-radius: 200px;
}

#segdireita {
  padding-left: 60px;
}

#segfim {
  padding-left: 60px;
}

#segdireita::after {
  content: "";
  width: 900px;
  height: 4px;
  display: block;
  margin: 0 auto;
  background: rgb(75, 75, 75);
}

#imganos60 {
  height: 370px;
  width: 450px;
  border-radius: 200px;
  margin-top: 80px;
}

#imganos70 {
  height: 400px;
  width: 450px;
  border-radius: 200px;
  margin-top: 120px;
}

#imganos80 {
  height: 470px;
  width: 550px;
  border-radius: 200px;
  margin-top: 120px;
  margin-bottom: 20px;
}

#imganos2000 {
  height: 470px;
  width: 550px;
  border-radius: 200px;
  margin-top: 140px;
  margin-bottom: 20px;
}
