/* Header */
header,
.navbar {
  background-color: #ee6161;
}
.navbar ul li a {
  color: black;
}
.navbar ul li a:hover {
  color: #fff;
}
.navbar a {
  color: black;
  text-decoration: solid;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: bold;
}
.navbar a:hover {
  color: black;
}

/* Main */
.container-fluid {
  text-align: center;
  height: 700px;
  background: url("https://ik.imagekit.io/hchmam5le6h/carroparadasso_ijZu5IcBi_e.jpg?updatedAt=1629250048276");
  opacity: 100%;
}

.texto .um {
  color: rgb(255, 255, 255);
  font-family: "Indusrty", monospace;
  font-size: 80px;
  text-align: center;
}

.texto .um::after {
  content: "";
  width: 350px;
  height: 5px;
  display: block;
  margin: 0 auto;
  background: #fff;
}

.texto {
  padding-top: 20px;
  padding-left: 150px;
  width: 1200px;
  color: whitesmoke;
  font-size: 24px;
  font-weight: bold;
  text-align: justify;
}
